---
import { storyblokEditable } from '@storyblok/astro'
import { richTextResolver } from '@storyblok/richtext';

const { blok } = Astro.props

const { render } = richTextResolver();
---

<div {...storyblokEditable(blok)}>
    <p>{blok.eyebrow}</p>
    <h1>{blok.headline}</h1>
    <p set:html={render(blok.description)}></p>
</div>
