---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
    <header>
        {
            blok.header?.map((blok) => {
                return <StoryblokComponent blok={blok} />
            })
        }
    </header>

    <main>
        {
            blok.body?.map((blok) => {
                return <StoryblokComponent blok={blok} />
            })
        }
    </main>

</div>
